<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <style>
        .menu {
            border: 1px solid black;
        }
        .content{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        footer {
            border: 1px solid blue;
        }

    </style>
</head>
<body>
<nav class="menu">
    /<a href="{% url 'home' %}">Домой</a>/<a href="">Об авторе</a>/

</nav>
<main class="content">
    <h1>Список товаров</h1>
    <ol>
        {% for item in items %}
        <li><a href="{% url 'item-page' item.id %}">{{ item.name }}</a></li>
        {% endfor %}
    </ol>
</main>
<footer>
    (c)Юрченко Е.В. 2022г.
</footer>
</body>
</html>